.vs/
/ByteShelf/bin/*
/ByteShelf/obj/*
/ByteShelf/Properties/launchSettings.json
/ByteShelfCommon/bin/*
/ByteShelfCommon/obj/*
/ByteShelfClient/bin/*
/ByteShelfClient/obj/*
/ByteShelfCommon.Tests/bin/*
/ByteShelfCommon.Tests/obj/*
/ByteShelfClient.Tests/bin/*
/ByteShelfClient.Tests/obj/*
/ByteShelf.Tests/bin/*
/ByteShelf.Tests/obj/*
/ByteShelf.Integration.Tests/bin/*
/ByteShelf.Integration.Tests/obj/*
/linux-deploy/

# Generated XML documentation files
**/bin/**/*.xml
**/obj/**/*.xml 